.git
.gitignore
.env
.env.*
!.env.example
npm-debug.log
yarn-error.log
/vendor
/node_modules
/storage/*.key
/storage/pail-*.log
.phpunit.result.cache
.php-cs-fixer.cache
.phpunit.code-coverage
.phpdoctor.json
Homestead.json
Homestead.yaml
.DS_Store
Thumbs.db
*.log
*.cache
.idea
.vscode
*.swp
*.swo
